@page
@using okb3_archive.Data.Models
@model okb3_archive.Pages.DocumentTypes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Вы уверены, что хотите удалить</h3>
<div>
    <h4>Тип документа?</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentType.Name)
        </dd>
    </dl>
    
    <a asp-page="/Index" asp-route-DocumentType="@Model.DocumentType.Id">Следующие файлы имееют данный тип</a>
    <span class="text-danger">@TempData["Error"]</span>

    <form method="post" class="mt-3">
        <input type="hidden" asp-for="DocumentType.Id"/>
        <button type="submit" class="btn btn-danger">Удалить</button> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
